#logo {
    width: 40px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #e0e0e0;
    background-size: cover;
}

* {
    transition: all 0.5s ease;
    font-family: "Montserrat Alternates", sans-serif;
}

header {
    margin: 20px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 20px 20px 92px #9d9d9d, -20px -20px 92px #ffffff;
}

#options a {
    border-radius: 15px;
    transition: all 1s ease;
}

#options a:hover {
    background: #eeeeee;
    box-shadow: 5px 5px 33px #aaaaaa, -5px -5px 33px #ffffff;
}

#welcome {
    min-height: 6vw;
    font-size: 3.4vw;
}

.icon-bar {
    background: white;
}

p {
    font-size: 1.3vw;
}

h1 {
    font-size: 2.5vw;
    margin-bottom: 0;
}

#info {
    margin-top: 3vw;
    width: 35vw;
}

#contactsClick {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: none;
    border-radius: 15px;
    transition: all 0.3s ease 0s;
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
}

#contactsClick:hover {
    background: #e0e0e0;
    box-shadow: 9px 9px 27px #c3c3c3, -9px -9px 27px #fdfdfd;
    color: #000;
    transform: translateY(-7px);
}

#contactsClick:active,
button:active {
    transform: translateY(-1px);
}

#contactsList {
    display: none;
}

.person {
    cursor: pointer;
    padding: 1em 2em;
    font-size: 12px;
    border-radius: 15px;
    transition: all 0.3s ease 0s;
    background: #e0e0e0;
    box-shadow: 9px 9px 27px #c3c3c3, -9px -9px 27px #fdfdfd;
    margin: 10px;
    min-width: 140px;
}

.person h5 {
    font-size: 1.1vw;
}

.person h6 {
    font-size: 1vw;
}

#addContact {
    padding: 0 20px 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
}

.bi-person-plus {
    font-size: 25px;
}

#addContact:hover {
    color: #000;
    transition: all 0.3s ease 0s;
    background: #e0e0e0;
    box-shadow: none;
    transform: translateY(-7px);
}

#contact {
    display: none;
}

.swal2-confirm,
.swal2-cancel {
    margin: 0 10px;
}
